img.emojikit {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

img.emojikit.angry{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/angry-1f620.png");
}

img.emojikit.anguished{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/anguished-1f627.png");
}

img.emojikit.astonished{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/astonished-1f632.png");
}

img.emojikit.blush{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/blush-1f60a.png");
}

img.emojikit.cold_sweat{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/cold_sweat-1f630.png");
}

img.emojikit.confounded{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/confounded-1f616.png");
}

img.emojikit.confused{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/confused-1f615.png");
}

img.emojikit.cry{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/cry-1f625.png");
}

img.emojikit.crying_cat_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/crying_cat_face-1f63f.png");
}

img.emojikit.disappointed{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/disappointed-1f61e.png");
}

img.emojikit.disappointed_relieved{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/disappointed_relieved-1f622.png");
}

img.emojikit.dizzy_facec{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/dizzy_face-1f635c.png");
}

img.emojikit.expressionless{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/expressionless-1f611.png");
}

img.emojikit.face_with_head_bandage{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/face_with_head_bandage-1f915.png");
}

img.emojikit.face_with_rolling_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/face_with_rolling_face-1f644.png");
}

img.emojikit.face_with_thermometer{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/face_with_thermometer-1f912.png");
}

img.emojikit.fearful{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/fearful-1f628.png");
}

img.emojikit.fire{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/fire-1f525.png");
}

img.emojikit.flag-ad{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ad-1f1e6-1f1e9.png");
}

img.emojikit.flag-ae{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ae-1f1e6-1f1ea.png");
}

img.emojikit.flag-af{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-af-1f1e6-1f1eb.png");
}

img.emojikit.flag-ag{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ag-1f1e6-1f1ee.png");
}

img.emojikit.flag-ai{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ai-1f1e6-1f1ee.png");
}

img.emojikit.flag-al{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-al-1f1e6-1f1f1.png");
}

img.emojikit.flag-am{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-am-1f1e6-1f1f2.png");
}

img.emojikit.flag-ao{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ao-1f1e6-1f1f4.png");
}

img.emojikit.flag-ar{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ar-1f1e6-1f1f7.png");
}

img.emojikit.flag-as{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-as-1f1e6-1f1f8.png");
}

img.emojikit.flag-at{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-at-1f1e6-1f1f9.png");
}

img.emojikit.flag-au{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-au-1f1e6-1f1fa.png");
}

img.emojikit.flag-aw{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-aw-1f1e6-1f1fc.png");
}

img.emojikit.flag-ax{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ax-1f1e6-1f1fd.png");
}

img.emojikit.flag-az{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-az-1f1e6-1f1ff.png");
}

img.emojikit.flag-ba{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ba-1f1e7-1f1e6.png");
}

img.emojikit.flag-bb{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bb-1f1e7-1f1e7.png");
}

img.emojikit.flag-bd{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bd-1f1e7-1f1e9.png");
}

img.emojikit.flag-be{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-be-1f1e7-1f1ea.png");
}

img.emojikit.flag-bf{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bf-1f1e7-1f1eb.png");
}

img.emojikit.flag-bg{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bg-1f1e7-1f1ec.png");
}

img.emojikit.flag-bh{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bh-1f1e7-1f1ed.png");
}

img.emojikit.flag-bi{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bi-1f1e7-1f1ee.png");
}

img.emojikit.flag-bj{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bj-1f1e7-1f1ef.png");
}

img.emojikit.flag-bl{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bl-1f1e7-1f1f1.png");
}

img.emojikit.flag-bm{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bm-1f1e7-1f1f2.png");
}

img.emojikit.flag-bn{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bn-1f1e7-1f1f3.png");
}

img.emojikit.flag-bo{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bo-1f1e7-1f1f4.png");
}

img.emojikit.flag-bq{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bq-1f1e7-1f1f6.png");
}

img.emojikit.flag-br{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-br-1f1e7-1f1f7.png");
}

img.emojikit.flag-bs{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bs-1f1e7-1f1f8.png");
}

img.emojikit.flag-bt{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bt-1f1e7-1f1f9.png");
}

img.emojikit.flag-bw{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bw-1f1e7-1f1fc.png");
}

img.emojikit.flag-by{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-by-1f1e7-1f1fe.png");
}

img.emojikit.flag-bz{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-bz-1f1e7-1f1ff.png");
}

img.emojikit.flag-ca{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ca-1f1e8-1f1e6.png");
}

img.emojikit.flag-cc{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cc-1f1e8-1f1e8.png");
}

img.emojikit.flag-cd{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cd-1f1e8-1f1e9.png");
}

img.emojikit.flag-cf{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cf-1f1e8-1f1e8.png");
}

img.emojikit.flag-cg{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cg-1f1e8-1f1ec.png");
}

img.emojikit.flag-ch{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ch-1f1e8-1f1ed.png");
}

img.emojikit.flag-ci{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ci-1f1e8-1f1ee.png");
}

img.emojikit.flag-ck{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ck-1f1e8-1f1f0.png");
}

img.emojikit.flag-cl{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cl-1f1e8-1f1f1.png");
}

img.emojikit.flag-cm{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cm-1f1e8-1f1f2.png");
}

img.emojikit.flag-cn{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cn-1f1e8-1f1f3.png");
}

img.emojikit.flag-co{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-co-1f1e8-1f1f4.png");
}

img.emojikit.flag-cr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cr-1f1e8-1f1f7.png");
}

img.emojikit.flag-cu{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cu-1f1e8-1f1fa.png");
}

img.emojikit.flag-cv{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cv-1f1e8-1f1fb.png");
}

img.emojikit.flag-cw{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cw-1f1e8-1f1fc.png");
}

img.emojikit.flag-cx{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cx-1f1e8-1f1fd.png");
}

img.emojikit.flag-cy{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cy-1f1e8-1f1fe.png");
}

img.emojikit.flag-cz{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-cz-1f1e8-1f1ff.png");
}

img.emojikit.flag-de{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-de-1f1e9-1f1ea.png");
}

img.emojikit.flag-dj{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-dj-1f1e9-1f1ef.png");
}

img.emojikit.flag-dk{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-dk-1f1e9-1f1f0.png");
}

img.emojikit.flag-dm{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-dm-1f1e9-1f1f2.png");
}

img.emojikit.flag-do{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-do-1f1e9-1f1f4.png");
}

img.emojikit.flag-ds{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ds-1f1f8-1f1e9.png");
}

img.emojikit.flag-dz{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-dz-1f1e9-1f1ff.png");
}

img.emojikit.flag-ec{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ec-1f1ea-1f1e8.png");
}

img.emojikit.flag-ee{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ee-1f1ea-1f1ea.png");
}

img.emojikit.flag-eg{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-eg-1f1ea-1f1ec.png");
}

img.emojikit.flag-eh{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-eh-1f1ea-1f1ed.png");
}

img.emojikit.flag-er{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-er-1f1ea-1f1f7.png");
}

img.emojikit.flag-es{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-es-1f1ea-1f1f8.png");
}

img.emojikit.flag-et{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-et-1f1ea-1f1f8.png");
}

img.emojikit.flag-eu{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-eu-1f1ea-1f1fa.png");
}

img.emojikit.flag-fi{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-fi-1f1eb-1f1ee.png");
}

img.emojikit.flag-fj{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-fj-1f1eb-1f1ef.png");
}

img.emojikit.flag-fk{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-fk-1f1eb-1f1f0.png");
}

img.emojikit.flag-fm{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-fm-1f1eb-1f1f2.png");
}

img.emojikit.flag-fo{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-fo-1f1eb-1f1f4.png");
}

img.emojikit.flag-fr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-fr-1f1eb-1f1f7.png");
}

img.emojikit.flag-ga{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ga-1f1ec-1f1e6.png");
}

img.emojikit.flag-gb{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gb-1f1ec-1f1e7.png");
}

img.emojikit.flag-gd{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gd-1f1ec-1f1e9.png");
}

img.emojikit.flag-ge{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ge-1f1ec-1f1ea.png");
}

img.emojikit.flag-gf{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gf-1f1ec-1f1eb.png");
}

img.emojikit.flag-gg{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gg-1f1ec-1f1ec.png");
}

img.emojikit.flag-gh{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gh-1f1ec-1f1ed.png");
}

img.emojikit.flag-gi{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gi-1f1ec-1f1ee.png");
}

img.emojikit.flag-gl{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gl-1f1ec-1f1f1.png");
}

img.emojikit.flag-gm{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gm-1f1ec-1f1f2.png");
}

img.emojikit.flag-gn{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gn-1f1ec-1f1f3.png");
}

img.emojikit.flag-gp{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gp-1f1ec-1f1f5.png");
}

img.emojikit.flag-gq{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gq-1f1ec-1f1f6.png");
}

img.emojikit.flag-gr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gr-1f1ec-1f1f7.png");
}

img.emojikit.flag-gs{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gs-1f1ec-1f1f8.png");
}

img.emojikit.flag-gt{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gt-1f1ec-1f1f9.png");
}

img.emojikit.flag-gu{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gu-1f1ec-1f1fa.png");
}

img.emojikit.flag-gw{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gw-1f1ec-1f1fc.png");
}

img.emojikit.flag-gy{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-gy-1f1ec-1f1fe.png");
}

img.emojikit.flag-hk{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-hk-1f1ed-1f1f0.png");
}

img.emojikit.flag-hn{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-hn-1f1ed-1f1f3.png");
}

img.emojikit.flag-hr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-hr-1f1ed-1f1f7.png");
}

img.emojikit.flag-ht{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ht-1f1ed-1f1f9.png");
}

img.emojikit.flag-hu{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-hu-1f1ed-1f1fa.png");
}

img.emojikit.flag-ic{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ic-1f1ee-1f1e8.png");
}

img.emojikit.flag-id{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-id-1f1ee-1f1e9.png");
}

img.emojikit.flag-ie{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ie-1f1ee-1f1ea.png");
}

img.emojikit.flag-il{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-il-1f1ee-1f1f1.png");
}

img.emojikit.flag-in{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-in-1f1ee-1f1f2.png");
}

img.emojikit.flag-in{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-in-1f1ee-1f1f3.png");
}

img.emojikit.flag-io{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-io-1f1ee-1f1f4.png");
}

img.emojikit.flag-iq{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-iq-1f1ee-1f1f6.png");
}

img.emojikit.flag-ir{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ir-1f1ee-1f1f7.png");
}

img.emojikit.flag-is{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-is-1f1ee-1f1f8.png");
}

img.emojikit.flag-it{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-it-1f1ee-1f1f9.png");
}

img.emojikit.flag-je{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-je-1f1ef-1f1ea.png");
}

img.emojikit.flag-jm{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-jm-1f1ef-1f1f2.png");
}

img.emojikit.flag-jo{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-jo-1f1ef-1f1f4.png");
}

img.emojikit.flag-jp{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-jp-1f1ef-1f1f5.png");
}

img.emojikit.flag-ke{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ke-1f1f0-1f1ea.png");
}

img.emojikit.flag-kg{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-kg-1f1f0-1f1ec.png");
}

img.emojikit.flag-kh{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-kh-1f1f0-1f1ed.png");
}

img.emojikit.flag-ki{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ki-1f1f0-1f1ee.png");
}

img.emojikit.flag-km{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-km-1f1f0-1f1f2.png");
}

img.emojikit.flag-kn{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-kn-1f1f0-1f1f3.png");
}

img.emojikit.flag-kp{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-kp-1f1f0-1f1f5.png");
}

img.emojikit.flag-kr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-kr-1f1f0-1f1f7.png");
}

img.emojikit.flag-kw{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-kw-1f1f0-1f1fc.png");
}

img.emojikit.flag-ky{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ky-1f1f0-1f1fe.png");
}

img.emojikit.flag-kz{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-kz-1f1f0-1f1ff.png");
}

img.emojikit.flag-la{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-la-1f1f1-1f1e6.png");
}

img.emojikit.flag-lb{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-lb-1f1f1-1f1e7.png");
}

img.emojikit.flag-lc{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-lc-1f1f1-1f1e8.png");
}

img.emojikit.flag-li{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-li-1f1f1-1f1ee.png");
}

img.emojikit.flag-lk{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-lk-1f1f1-1f1f0.png");
}

img.emojikit.flag-lr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-lr-1f1f1-1f1f7.png");
}

img.emojikit.flag-ls{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ls-1f1f1-1f1f8.png");
}

img.emojikit.flag-lt{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-lt-1f1f1-1f1f9.png");
}

img.emojikit.flag-lu-1f1fq{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-lu-1f1fq-1f1fa.png");
}

img.emojikit.flag-lv{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-lv-1f1f1-1f1fb.png");
}

img.emojikit.flag-ly{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ly-1f1f1-1f1fe.png");
}

img.emojikit.flag-ma{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ma-1f1f2-1f1e6.png");
}

img.emojikit.flag-mc{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mc-1f1f2-1f1e8.png");
}

img.emojikit.flag-md{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-md-1f1f2-1f1e9.png");
}

img.emojikit.flag-me{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-me-1f1f2-1f1ea.png");
}

img.emojikit.flag-mg{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mg-1f1f2-1f1ec.png");
}

img.emojikit.flag-mh{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mh-1f1f2-1f1ed.png");
}

img.emojikit.flag-mk{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mk-1f1f2-1f1f0.png");
}

img.emojikit.flag-ml{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ml-1f1f2-1f1f1.png");
}

img.emojikit.flag-mm{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mm-1f1f2-1f1f2.png");
}

img.emojikit.flag-mn{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mn-1f1f2-1f1f3.png");
}

img.emojikit.flag-mo{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mo-1f1f2-1f1f4.png");
}

img.emojikit.flag-mp{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mp-1f1f2-1f1f5.png");
}

img.emojikit.flag-mq{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mq-1f1f2-1f1f4.png");
}

img.emojikit.flag-mr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mr-1f1f2-1f1f7.png");
}

img.emojikit.flag-ms{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ms-1f1f2-1f1f8.png");
}

img.emojikit.flag-mt{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mt-1f1f2-1f1f9.png");
}

img.emojikit.flag-mu{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mu-1f1f2-1f1fa.png");
}

img.emojikit.flag-mv{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mv-1f1f2-1f1fb.png");
}

img.emojikit.flag-mw{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mw-1f1f2-1f1fc.png");
}

img.emojikit.flag-mx{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mx-1f1f2-1f1fd.png");
}

img.emojikit.flag-my{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-my-1f1f2-1f1fe.png");
}

img.emojikit.flag-mz{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-mz-1f1f2-1f1ff.png");
}

img.emojikit.flag-na{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-na-1f1f3-1f1e6.png");
}

img.emojikit.flag-na{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-na-1f1f3-1f1fa.png");
}

img.emojikit.flag-nc{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-nc-1f1f3-1f1e8.png");
}

img.emojikit.flag-ne{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ne-1f1f3-1f1ea.png");
}

img.emojikit.flag-nf{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-nf-1f1f3-1f1eb.png");
}

img.emojikit.flag-ng{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ng-1f1f3-1f1ec.png");
}

img.emojikit.flag-ni{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ni-1f1f3-1f1ee.png");
}

img.emojikit.flag-nl{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-nl-1f1f3-1f1f1.png");
}

img.emojikit.flag-no{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-no-1f1f3-1f1f4.png");
}

img.emojikit.flag-no{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-no-1f1f3-1f1f5.png");
}

img.emojikit.flag-nr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-nr-1f1f3-1f1f7.png");
}

img.emojikit.flag-nz{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-nz-1f1f3-1f1ff.png");
}

img.emojikit.flag-om{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-om-1f1f4-1f1f2.png");
}

img.emojikit.flag-pa{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-pa-1f1f5-1f1e6.png");
}

img.emojikit.flag-pe{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-pe-1f1f5-1f1ea.png");
}

img.emojikit.flag-pf{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-pf-1f1f5-1f1eb.png");
}

img.emojikit.flag-pg{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-pg-1f1f5-1f1ec.png");
}

img.emojikit.flag-ph{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ph-1f1f5-1f1ed.png");
}

img.emojikit.flag-pk{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-pk-1f1f5-1f1f0.png");
}

img.emojikit.flag-pl{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-pl-1f1f5-1f1f1.png");
}

img.emojikit.flag-pm{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-pm-1f1f5-1f1f2.png");
}

img.emojikit.flag-pn{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-pn-1f1f5-1f1f3.png");
}

img.emojikit.flag-pr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-pr-1f1f5-1f1f7.png");
}

img.emojikit.flag-ps{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ps-1f1f5-1f1f8.png");
}

img.emojikit.flag-pt{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-pt-1f1f5-1f1f9.png");
}

img.emojikit.flag-pw{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-pw-1f1f5-1f1fc.png");
}

img.emojikit.flag-py{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-py-1f1f5-1f1fe.png");
}

img.emojikit.flag-qa{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-qa-1f1f6-1f1e6.png");
}

img.emojikit.flag-re{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-re-1f1f7-1f1ea.png");
}

img.emojikit.flag-ro{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ro-1f1f7-1f1f4.png");
}

img.emojikit.flag-rs{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-rs-1f1f7-1f1f8.png");
}

img.emojikit.flag-ru{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ru-1f1f7-1f1fa.png");
}

img.emojikit.flag-rw{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-rw-1f1f7-1f1fc.png");
}

img.emojikit.flag-sa{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sa-1f1f8-1f1e6.png");
}

img.emojikit.flag-sb{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sb-1f1f8-1f1e7.png");
}

img.emojikit.flag-sc{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sc-1f1f8-1f1e8.png");
}

img.emojikit.flag-se{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-se-1f1f8-1f1ea.png");
}

img.emojikit.flag-sg{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sg-1f1f8-1f1ec.png");
}

img.emojikit.flag-sh{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sh-1f1f8-1f1ed.png");
}

img.emojikit.flag-si{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-si-1f1f8-1f1ee.png");
}

img.emojikit.flag-sk{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sk-1f1f8-1f1f0.png");
}

img.emojikit.flag-sl{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sl-1f1f8-1f1f1.png");
}

img.emojikit.flag-sm{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sm-1f1f8-1f1f2.png");
}

img.emojikit.flag-sn{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sn-1f1f8-1f1f3.png");
}

img.emojikit.flag-so{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-so-1f1f8-1f1f4.png");
}

img.emojikit.flag-sr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sr-1f1f8-1f1f7.png");
}

img.emojikit.flag-ss{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ss-1f1f8-1f1f8.png");
}

img.emojikit.flag-st{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-st-1f1f8-1f1f9.png");
}

img.emojikit.flag-sv{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sv-1f1f8-1f1fb.png");
}

img.emojikit.flag-sx{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sx-1f1f8-1f1fd.png");
}

img.emojikit.flag-sy{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sy-1f1f8-1f1fe.png");
}

img.emojikit.flag-sz{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-sz-1f1f8-1f1ff.png");
}

img.emojikit.flag-tc{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tc-1f1f9-1f1e8.png");
}

img.emojikit.flag-td{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-td-1f1f9-1f1e9.png");
}

img.emojikit.flag-tf{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tf-1f1f9-1f1eb.png");
}

img.emojikit.flag-tg{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tg-1f1f9-1f1ec.png");
}

img.emojikit.flag-th{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-th-1f1f9-1f1ed.png");
}

img.emojikit.flag-tj{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tj-1f1f9-1f1ef.png");
}

img.emojikit.flag-tk{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tk-1f1f9-1f1f0.png");
}

img.emojikit.flag-tl{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tl-1f1f9-1f1f1.png");
}

img.emojikit.flag-tm{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tm-1f1f9-1f1f2.png");
}

img.emojikit.flag-tn{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tn-1f1f9-1f1f3.png");
}

img.emojikit.flag-tr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tr-1f1f9-1f1f4.png");
}

img.emojikit.flag-tr{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tr-1f1f9-1f1f7.png");
}

img.emojikit.flag-tt{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tt-1f1f9-1f1f9.png");
}

img.emojikit.flag-tv{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tv-1f1f9-1f1fb.png");
}

img.emojikit.flag-tw{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tw-1f1f9-1f1fc.png");
}

img.emojikit.flag-tz{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-tz-1f1f9-1f1ff.png");
}

img.emojikit.flag-ua{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ua-1f1fa-1f1e6.png");
}

img.emojikit.flag-ug{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ug-1f1fa-1f1ec.png");
}

img.emojikit.flag-us{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-us-1f1fa-1f1f8.png");
}

img.emojikit.flag-uy{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-uy-1f1fa-1f1fe.png");
}

img.emojikit.flag-uz{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-uz-1f1fa-1f1ff.png");
}

img.emojikit.flag-va{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-va-1f1fb-1f1e6.png");
}

img.emojikit.flag-vc{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-vc-1f1fb-1f1e8.png");
}

img.emojikit.flag-vg{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-vg-1f1fb-1f1ea.png");
}

img.emojikit.flag-vg{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-vg-1f1fb-1f1ec.png");
}

img.emojikit.flag-vi{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-vi-1f1fb-1f1ee.png");
}

img.emojikit.flag-vn{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-vn-1f1fb-1f1f3.png");
}

img.emojikit.flag-vu{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-vu-1f1fb-1f1fa.png");
}

img.emojikit.flag-wf{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-wf-1f1fc-1f1eb.png");
}

img.emojikit.flag-ws{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ws-1f1fc-1f1f8.png");
}

img.emojikit.flag-xk{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-xk-1f1fd-1f1f0.png");
}

img.emojikit.flag-ye{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-ye-1f1fe-1f1ea.png");
}

img.emojikit.flag-yt{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-yt-1f1fe-1f1f9.png");
}

img.emojikit.flag-za{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-za-1f1ff-1f1e6.png");
}

img.emojikit.flag-zm{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-zm-1f1ff-1f1f2.png");
}

img.emojikit.flag-zw{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flag-zw-1f1ff-1f1fc.png");
}

img.emojikit.flushed{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/flushed-1f633.png");
}

img.emojikit.frowning{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/frowning-1f626.png");
}

img.emojikit.grimmacing{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/grimmacing-1f62c.png");
}

img.emojikit.grin{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/grin-1f601.png");
}

img.emojikit.grinning{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/grinning-1f600.png");
}

img.emojikit.heart_eyes{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/heart_eyes-1f60d.png");
}

img.emojikit.hear_eyes_cat{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/hear_eyes_cat-1f63b.png");
}

img.emojikit.hugging_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/hugging_face-1f917.png");
}

img.emojikit.hushed{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/hushed-1f62f.png");
}

img.emojikit.innocent{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/innocent-1f607.png");
}

img.emojikit.joy{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/joy-1f602.png");
}

img.emojikit.joy_cat{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/joy_cat-1f639.png");
}

img.emojikit.kissing{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/kissing-1f617.png");
}

img.emojikit.kissing_cat{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/kissing_cat-1f63d.png");
}

img.emojikit.kissing_closed_eyes{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/kissing_closed_eyes-1f61a.png");
}

img.emojikit.kissing_heart{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/kissing_heart-1f618.png");
}

img.emojikit.kissing_smiling_eyes{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/kissing_smiling_eyes-1f619.png");
}

img.emojikit.mask{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/mask-1f637.png");
}

img.emojikit.money_mouth_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/money_mouth_face-1f911.png");
}

img.emojikit.nerd_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/nerd_face-1f913.png");
}

img.emojikit.neutral_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/neutral_face-1f610.png");
}

img.emojikit.no_mouth{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/no_mouth-1f636.png");
}

img.emojikit.open_mouth{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/open_mouth-1f62e.png");
}

img.emojikit.pensive{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/pensive-1f614.png");
}

img.emojikit.persevere{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/persevere-1f623.png");
}

img.emojikit.pouting_cat{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/pouting_cat-1f63e.png");
}

img.emojikit.rage{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/rage-1f621.png");
}

img.emojikit.relaxed263a{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/relaxed-263a.png");
}

img.emojikit.relieved{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/relieved-1f60c.png");
}

img.emojikit.robot_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/robot_face-1f916.png");
}

img.emojikit.satisfied{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/satisfied-1f606.png");
}

img.emojikit.scream{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/scream-1f631.png");
}

img.emojikit.scream_cat{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/scream_cat-1f640.png");
}

img.emojikit.simple_smile{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/simple_smile-1f642.png");
}

img.emojikit.sleeping{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/sleeping-1f634.png");
}

img.emojikit.sleepy{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/sleepy-1f62a.png");
}

img.emojikit.sleuth_or_spy{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/sleuth_or_spy-1f575.png");
}

img.emojikit.slight_frowning_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/slight_frowning_face-1f641.png");
}

img.emojikit.smile{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/smile-1f604.png");
}

img.emojikit.smiley{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/smiley-1f603.png");
}

img.emojikit.smiley_cat{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/smiley_cat-1f63a.png");
}

img.emojikit.smile_cat{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/smile_cat-1f638.png");
}

img.emojikit.smiling_imp{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/smiling_imp-1f608.png");
}

img.emojikit.smirk{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/smirk-1f60f.png");
}

img.emojikit.smirk_cat{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/smirk_cat-1f63c.png");
}

img.emojikit.sob{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/sob-1f62d.png");
}

img.emojikit.stuck_out_closed_eye{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/stuck_out_closed_eye-1f61d.png");
}

img.emojikit.stuck_out_tongue{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/stuck_out_tongue-1f61b.png");
}

img.emojikit.stuck_out_tongue_winking_eye{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/stuck_out_tongue_winking_eye-1f61c.png");
}

img.emojikit.sunglasses{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/sunglasses-1f60e.png");
}

img.emojikit.sweat{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/sweat-1f613.png");
}

img.emojikit.sweat_smile{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/sweat_smile-1f605.png");
}

img.emojikit.thinking_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/thinking_face-1f914.png");
}

img.emojikit.tired_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/tired_face-1f62b.png");
}

img.emojikit.triumph{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/triumph-1f624.png");
}

img.emojikit.unamused{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/unamused-1f612.png");
}

img.emojikit.upside_down_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/upside_down_face-1f643.png");
}

img.emojikit.weary{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/weary-1f629.png");
}

img.emojikit.white_frowning_face2639{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/white_frowning_face-2639.png");
}

img.emojikit.wink{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/wink-1f609.png");
}

img.emojikit.worried{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/worried-1f61f.png");
}

img.emojikit.yum{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/yum-1f60b.png");
}

img.emojikit.zipper_mouth_face{
    @extend img.emojikit;
    background-image: url("https://raw.githubusercontent.com/xoneco/emojikit/master/emoji/160x160/zipper_mouth_face-1f910.png");
}
